.icon {
  height: 1em;
  width: 1em;
  display: block;
  background-repeat: no-repeat;
}

.icon-status-sum {
  height: 2em;
  width: 2em;
  margin-right: 1em;
  &.up {
    background-image: inline("../svg/up.svg");
  }
  &.down {
    background-image: inline("../svg/down.svg")
  }
}

.icon-status {
  border-radius: 100%;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  &.pause {
    background: #111;
  }
  &.up {
    background: var(--color-green);
  }
  &.seem-down {
    background: #ffdd57;
  }
  &.down {
    background: var(--color-red);
  }
}
