.summary {
  display: flex;
  align-items: center;

  &-detail {
    font-size: 1.3em
  }

  &-checktime {
    font-size: 0.8em;
    color: #898989;
  }
}

.monitors {
  margin: 0;
  padding: 0;
  transition: margin 200ms cubic-bezier(0.4, 0, 0.2, 1);

  &.open {
    margin: 1.5em 0;
  }

  &-header {
    line-height: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em 1.5em;
    border-bottom: #eaeaea 1px solid;
    transition: background-color 150ms;

    &:hover {
      background: var(--color-grey)
    }

    .has-children & {
      cursor: pointer;
    }

    .icon {
      transition: 100ms opacity;
      .open & {
        opacity: 0;
      }
    }

    &-title {
      font-weight: bold;
    }
  }
}


.monitors-content-wrap {
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms ease-out;
}

.monitor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em 1.5em;
  border-top: #ddd 1px solid;
}
