.icon {
  height: 1em;
  width: 1em;
  display: block;
  background-repeat: no-repeat;
}

.icon-status-sum {
  height: 2em;
  width: 2em;
  margin-right: 1em;
  &.up {
    background-image: inline("../svg/up.svg");
  }
  &.down {
    background-image: inline("../svg/down.svg")
  }
}

.icon-status {
  border-radius: 100%;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

.icon-uptime {
  height: 2em;
  width: 100%;
  cursor: pointer;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  opacity: 0.75;
}

.icon-status,
.icon-uptime {
  &.pause {
    background: var(--color-pause);
  }
  &.up {
    background: var(--color-up);
  }
  &.seem-down {
    background: var(--color-seem-down);
  }
  &.down {
    background: var(--color-down);
  }
}
